.git
.github
.idea
.vscode
.local
.venv
venv
env
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
build
dist
docs
examples
helm
tests
*.log
.env
.env.*
models
media
